/* Leaflet map fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Dark theme fits 3D well */
  color: white;
  overflow-x: hidden;
}